@model Proiect_DAW2.Models.Book


<br />
<p href ="/Books/Show/@Model.BookId">Titlu: @Model.Title</p>
<br />
<p>Pret: @Model.Price</p>

<footer>
    <p>&copy; @DateTime.Now.Year FLAVIA SI MARIA </p>
</footer>

