@{
    ViewBag.Title = "About";
}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<br /><br />
<br /><br />
<br /><br />
<div style="background-color:white; padding: 3%; border: solid 2px #ccc; border-radius:1%">
    <div class="row itemm" style="background-color:white; border:none">
        <div class="col-md-9" style="font-size:2vh; margin-top:2%">
            <h2>DESPRE NOI</h2>
            &nbsp;&nbsp;&nbsp; Iti place sa citesti? Iti place sa descoperi lumi, sa calatoresti prin intermediul cartilor? Esti preocupat sa te dezvolti si sa faci lumea mai frumoasa? Crezi in oameni?
            Iti plac intalnirile cu ei? Crezi in prietenie, respect, inteligenta, iubire? Daca da, inseamna ca avem multe in comun. Bine ai venit pe <strong>M&F-SHOP.ro</strong>! <br /> <br />
            &nbsp;&nbsp;&nbsp; Te astepta stari de spirit, pe care sa le culegi din carti, sa le simti prin muzica, sa le traiesti prin filme. Te rasfeti, te amuzi, te relaxezi. Suntem aici pentru tine!
            M&F-SHOP.ro este despre oameni, frumos, viitor, despre a construi impreuna, despre speranta si povesti care devin realitate. Libris este despre fiecare dintre noi. Iti multumim pentru ca esti aici si te asteptam mereu cu propuneri si sugestii. Ne poti contacta pe facebook, pe blog sau pe adresa contact@mfshop.com.
            <br />
        </div>
        <div class="col-md-3">
            <h3 style="margin-top:0">CONTACT</h3>
            <address>
                <i class="fa fa-home" style="font-size:20px">&nbsp; Strada Castanilor, Vaslui, VS 032265</i>
                <br /> <br />
                <i class="fa" style="font-size:20px">&#xf095; &nbsp; Telefon: 0244354678</i>

            </address>
            <strong>Mail :   </strong>   <a href="mailto:contact@mfshop.com">contact@mfshop.com </a><br />
            <strong>Maria :   </strong> <a href="mailto:maria@mfshop.com">maria@mfshop.com</a> <br />
            <strong>Flavia :   </strong> <a href="mailto:flavia@mfshop.com">flavia@mfshop.com</a> <br />
            <br />
            <a href="https://www.facebook.com/">
                <i style="font-size:55px" class="fa">&#xf082;</i>
            </a>
            <a href="https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-linkedin-square">
                <i class=" grad1 fa" style="font-size:55px">&#xf16d;</i>
            </a>

            <a href="https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-linkedin-square"> <i style="font-size:55px" class="fa">&#xf08c; </i></a>
        </div>

    </div>
    <div style="border-bottom: 1px solid lightgrey">
    </div>
    <div class="row">
        <div class="col-md-8" style="font-size:2vh">
            <h2>COMUNITATE</h2>
            &nbsp; &nbsp; &nbsp; M&F.ro este și o comunitate culturală.
            De câțiva ani, anunțăm pe blogul nostru cele mai noi evenimente, expoziţii şi lansări – tot aici poți citi interviuri, recenzii și povestiri de la evenimentele noastre.
            Suntem mândri să ducem mai aproape ceea ce indrăgim mai mult: cultura și te invităm să fii alături de noi.
        </div>
        <div class="col-md-4">
            <img src="~/Files/chat.png" style="width:75%; height:20%; margin-left:20%" />
        </div>
    </div>
    <div style="border-bottom: 1px solid lightgrey">
    </div>
    <br />
    <div class="row" style="border-radius:12px;justify-content:space-between; width:102.5%; background-color:white">
        <div class="col-md-6">
            <img src="~/Files/van.jpg" style=" width:50%;height:75%;margin-left:25%" />
            <p style="text-align:center">Peste 20000 de comenzi livrate</p>
        </div>
        <div class="col-md-6">
            <img src="~/Files/books3.png" style=" width:40%;height:10vw;margin-left:25%" />
            <p style="text-align:center">Peste 50000 de carti expediate</p>
        </div>
    </div>
</div>

<br />




<br />

<footer>
    <p>&copy; @DateTime.Now.Year FLAVIA SI MARIA </p>
</footer>
