@{
    ViewBag.Title = "Contact";
}

<br />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
    <div class="col-md-2">
        <a href="/Home/Index"><img src="~/Files/buf.jpg" style="width: 100%; height: 100%; width:100%" /></a>
    </div>
</div>
<br /><br />

<br />
<address>
    <i class="fa fa-home" style="font-size:20px">&nbsp; Strada Castanilor, Vaslui, VS 032265</i>
    <br /> <br />
    <i class="fa" style="font-size:20px">&#xf095; &nbsp; Telefon: 0244354678</i>

</address>

<address>
    <strong>Mail :   </strong>   <a href="mailto:contact@mfshop.com">contact@mfshop.com</a><br />
    <strong>Maria :   </strong> <a href="mailto:maria@mfshop.com">maria@mfshop.com</a> <br />
    <strong>Flavia :   </strong> <a href="mailto:flavia@mfshop.com">flavia@mfshop.com</a> <br />
    <br /><br />
    <a href="https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-linkedin-square">
        <i style="font-size:55px" class="fa">&#xf082;</i>
    </a>
    <a href="https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-linkedin-square">
        <i style="font-size:55px; " class="fa">&#xf16d;</i>
    </a>
    <a href="https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-linkedin-square">
        <i style="font-size:55px" class="fa" href="https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-linkedin-square">&#xf08c; </i>
    </a>
</address>

<footer>
    <p>&copy; @DateTime.Now.Year FLAVIA SI MARIA </p>
</footer>